@font-face {
    font-family: 'market_deco';
    src: url('../fonts/market_deco.eot');
    src: url('../fonts/market_deco.eot?#iefix') format('embedded-opentype'),
    url('../fonts/market_deco.woff2') format('woff2'),
    url('../fonts/market_deco.woff') format('woff'),
    url('../fonts/market_deco.ttf') format('truetype'),
    url('../fonts/market_deco.svg#market_decoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #0E7988;
    margin: 0;
    font-family: Verdana, sans-serif;
}

a:link {
    text-decoration: none;
    color: #165C6D;
}

li a:visited {
    color: #165C6D;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a:hover{
    text-decoration: underline;
}

.bandeau {
    background-color: white;
    padding: 20px 0px;
    box-shadow: 2px 2px 6px black;
}

.bandeau h1 {
    text-align: center;
    font-size: 44px;
    color: #165C6D;
    font-family: 'market_deco';
}

.bandeau a {
    float: right;
    margin-right: 10px;
}

._error {
    color: #FFF;
    font-family: 'market_deco';
    text-align: center;
    font-size: 30px;
}

.flash {
}

.flash p {
    text-align: center;
    padding: 10px 10px;
    color: #ff7461;
    font-family: 'Verdana';
}

.button{
    background-color: white;
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 2px;
}


.fiche .button{
    font-size: 10px;
    padding: 4px 8px;
}

.deconnexion a:visited{
    color:#165C6D;
}


.offre a:visited{
    color:#165C6D;
}