/* Structure de base */

.page {
    position: relative;
    margin: 0 auto;
    max-width: 1400px;
    padding: 20px;
}

.page:after {
    content: "";
    display: table;
    clear: both;
}

.menu {
    border: 1px;
    width: 223px;
    background: white;
    box-shadow: 2px 2px 6px black;
    position: relative;
    float: left;
}

ul {
    padding-left: 15px;
    list-style-type: none;
}

li {
    text-align: left;
    font-family: Verdana;
    font-size: 13px;
    padding: 3px 0;
    color: #555;
}

li a {
    color: #165C6D;
}

li a:hover {
    text-decoration: underline;
}

.contenu {
    color: white;
    position: relative;
    float: right;
    width: calc(100% - 240px);

}

.contenu button {
    margin-left: 70%;
}

.contenu label {
    margin-left: 10%;
}

/* Selon les pages */

.contenuAcceuil {
    margin: 0 auto;
    color: #165C6D;
}

.contenuAcceuil p {
    font-size: 13px;
}

.offre {
    text-align: center;
    background-color: white;
    display: inline-block;
    width: 150px;
    padding: 20px;
    margin: 10px;
    box-shadow: 2px 2px 6px black;
    vertical-align: top;
    height: 100px;
    padding-bottom: 50px;
    position: relative;
}

.offre .supprimer {
    position: absolute;
    top: 100px;
    left: 20px;
    width: 150px;
}

.deroulant ul {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.7s, height 0.5s;
}

.deroulant:hover ul {
    opacity: 1;
    height: 50px;
}

table {
    margin-left: 7%;
    font-size: 17px;
}

.contactRecruteur {
    color: #165C6D;
    padding-left: 5px;
    border: 1px;
    background: white;
    box-shadow: 2px 2px 6px black;
    position: relative;
    float: right;
}

.contactRecruteur h3 {
    text-align: center;
}

.ajout {
    margin-left: 20%;
}

.doc a {
    color: white;
    font-weight: bold;
}

.titre {
    color: #032137;
    font-weight: bold;

}

.message{
    color:white;
}

.button{
    color:#165C6D;
}

.button a:visited{
    color:#165C6D;
}

.document a{
    color:white;
}

