li {
    display: inline-block;
}

.form {
    color: #FFF;
    font-family: 'Agency FB';
    font-weight: bold;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}

.info {
    font-family: 'Verdana';
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}
